body {
    background: #d2d2c1 url("images/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

.image_model {
    background-image: url('images/capa.png');
}

.nav_bar{
    background-color: #c5c5b2;
    padding: 18px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.color_text {
    background-color: #e8e8d9;
    padding: 10px;
    
}

.title {
    color: #828271;
    font-weight: bold;
    font-size: 20px;
}

.rights {
    text-align: center; 
    font-weight: bold;
}

.photos {
    border: 10px ridge #c3c3ae;
}

.contato {
    font-weight: bold;
}